# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# My own
main
code/glog_test/log
code/msgpack_learn/class
code/msgpack_learn/main
code/multi_learn/main
code/mysql_learn/framework
code/redis_learn/redis
code/socket_learn/client
code/socket_learn/server
code/trim_test/trim

1.语言怎么用/trim_test/trim
data/msgpack_learn/class
data/redis_learn/redis
log/glog_test/log/a.out.INFO
log/glog_test/log/a.out.debian8light.vimer.log.INFO.20160815-150125.71868
net/socket_learn/client
net/socket_learn/server
